{% load static %}
<header>
    <div id="top-header">              
        <nav> 
            <div id="menu">
                <a id="logo" href="{% url 'projects' %}">LinkedMin</a> 
                <ul>
                <li><a href="{% url 'profiles' %}">DevOps</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                
                {% if request.user.is_authenticated %}
                <li><a href="#">Inbox</a></li>
                <li><a href="{% url 'create-project' %}">Add Project</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
                <li><a href="{% url 'logout' %}" class="btn">LogOut</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="btn">SignUp / LogIn</a></li>
                {% endif %}    
            </ul>
              </div>        
        </nav>
    </div>   
</header>

