{% extends 'main.html' %}

{% block content %}
<div class="main-container">
    <h1>Показывай себя и свои проекты. <br> Находи вдохновение, коллег и новые знания.</h1>
    {% csrf_token %}
    <form action="{% url 'projects' %}" method="get">
        <input class="input-search" placeholder="Search by Project Title..." type="text" name="search_query" value="{{search_query}}">
        <!--<button type="submit">Search</button>-->
        <input class="btn-search" type="submit" value="Search" />
    </form>
</div>


<!--<ul>
    {% for project in projects %}
    
    <li>
        Title: <a href="{% url 'project' project.id %}">{{project.title}}</a> --- {{project.created}} --- 
        <a href="{% url 'update-project' project.id %}">Edit</a> --- <a href="{% url 'delete-project' project.id %}">Delete</a>
    </li>
    
    {% endfor %}
    </ul>-->
    <div class="container-card">
    {% for project in projects %}

    
      <div class="project-card">
        <img src="{{project.featured_image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">{{project.title}}</h4>
          <p class="card-text">description {{project.description}}</p>
          <p class="card-text">{{project.vote_ratio}}% Positive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})</p>
          <p class="card-text">tags{{project.tags}}</p>        
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  

    {% endfor %}
  </div>

  {% include 'pagination.html' with queryset=projects custom_range=custom_range %}
{% endblock content %}