{% extends 'main.html' %}
<!--в ьейне ткнуть на веь сайт, чтобы перейти на эту страницу-->
{% block content %}
<!--<img style="max-width: 500px;" src="{{ project.featured_image.url }}">
<h1>{{project.title}}</h1>
<hr>
{% for tag in tags %}
<span>
    {{tag}}
</span>
{% endfor %}
<hr>
<p>{{project.description}}</p>-->

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div>
                <h3>Tools & stacks</h3>
                {% for tag in tags %}
                    <span>{{tag}}</span>
                {% endfor %}
            </div>
            <div>
                <br>
                {%if project.source_link%}
                <a href="#" target="_blanck">Source Code</a>
                {% endif %}
                <br>
                {%if project.demo_link%}
                <a href="#" target="_blanck">Live LiDemo</a>
                {% endif %}
            </div>
        </div>

        <div class="col">
            <img src="{{ project.featured_image.url }}" class="img-for-project" alt="...">
            <h4>название проекта {{project.title}} </h4>
            <h6>ФИО пользователя</h6>
            <h2>О проекте</h2>
            <h4>Описание проекта {{project.description}}</h4>
            <h2>Feedback</h2>
            <p>{{project.vote_ratio}}% Positive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})</p>
            <p> </p>   
            <form>
                <fieldset class="uk-fieldset">  
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Input">
                    </div>
                
                    <div class="uk-margin">
                        <select class="uk-select">
                            <option>Опция 01</option>
                            <option>Опция 02</option>
                        </select>
                    </div>
                
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
                    </div>
                        
                </fieldset>
                    <button type="submit">Отправить</button>
            </form>
            <h2>от кого</h2>
        </div>
    </div>
</div>
{% endblock content %}