{% extends 'main.html' %}

{% block content %}
    <div class="main-container">
        <h1>Показывай себя и свои проекты. <br> Находи вдохновение, коллег и новые знания.</h1>
        {% csrf_token %}
        <form action="{% url 'projects' %}" method="get">
            <input class="input-search" placeholder="Search by developer name..." type="text" name="search_query" value="{{search_query}}">
            <!--<button type="submit">Search</button>-->
            <input class="btn-search" type="submit" value="Search" />
        </form>
    </div>
    <!-- Search Result: DevList -->
                {% for profile in profiles %}
                <div >
                    <div >
                        <a href="{% url 'user-profile' profile.id %}" c>
                            <div >
                                <img  src="{{ profile.imageURL }}" alt="image" />
                                <div >
                                    <h3>{{profile.name}}</h3>
                                    <h5>{{profile.short_intro|slice:"60"}}</h5>
                                </div>
                            </div>
                            <p >{{profile.bio|slice:"150"}}</p>
                            <div >

                                {% for skill in profile.skill_set.all|slice:"5" %}
                                <span >
                                    <small>{{skill}}</small>
                                </span>
                                {% endfor %}

                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

                {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}
{% endblock content %}